body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.input-group {
  margin-bottom: 20px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-image {
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 24px;
  width: 220px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.login-form {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 25px;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input[type="email"],
input[type="password"] {
  width: 300px;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.password-field {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #66b3ff;
  position: relative;
}

.password-field input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
}

.email-field {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #66b3ff;
}

.email-field input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
}

.links {
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}

.links a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.login-btn {
  background-color: #66b3ff;
}

.signup-btn {
  background-color: #ffb3b3;
}

.login-btn:hover {
  background-color: #3399ff;
}

.signup-btn:hover {
  background-color: #ff9999;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.divider hr {
  width: 100px;
  border: 0.5px solid #a0a0a0;
}

.divider span {
  margin: 0 10px;
  font-size: 14px;
  color: #333;
}

.google-btn {
  background-color: #e8f0fe;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.google-icon {
  width: 20px;
  height: 20px;
}
