body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fff;
}

.header {
  background-color: #0a74ff;
  color: white;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.login-btn {
  background: white;
  color: #007bff;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.cart{
  background: white;
  color: #0a74ff;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.nav a:hover {
  text-decoration: underline;
}

.cart-container {
  padding: 30px;
}

.cart-table {
  background-color: #e6f0ff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.cart-header, .cart-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px;
}

.cart-header {
  font-weight: bold;
}

.cart-item {
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-top: 10px;
}

.col {
  padding: 5px 10px;
}

.product-img {
  width: 80px;
  height: 80px;
  background-color: #0a74ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.product-info {
  margin-top: 5px;
}

.qty-btn {
  border: none;
  background-color: #0a74ff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.qty {
  margin: 0 8px;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.shipping-info, .total-info {
  background-color: #e6f0ff;
  flex: 1;
  padding: 20px;
  border-radius: 10px;
}

.buy-btn {
  background-color: #0a74ff;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 20px;
  cursor: pointer;
  float: right;
}
